
/* LAYOUT PAGE */

.container {
  height: 100vh;
  display:grid;
  grid-template-columns: 1.1fr 5fr;
  grid-template-rows: 14rem 5fr;
}

.section-sidebar {
  background-color: var(--background-color--bluish, blue);
  color: var(--text-color--white, white);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding:2rem;

}

.section-header {
  grid-column: 2 / 3;
  padding:1rem 2.5rem;
}

.section-main{
  background-color: var(--background-color--greish);
  padding:4.5rem 0 3rem 1rem; 
}

/* ********************************* */

/* SIDEBAR PAGE */

.sidebar-box--img {
  overflow: hidden;
  height: 70px;
  width:70px;
  border-radius: 50%;
  background-color: var(--background-color--white, white);
}

.sidebar-box--img img {
  width: 100%;
}

.sidebar-box ion-icon {
  color:var(--text-color--white, white);
}

/* ********************************* */


/* SECTION HEADER 1   */

.search-bar {
  width: 60%;
  height: 2.5rem;
  background-color: var(--background-color--greish, gray);
  border-radius: 1.5rem;
  margin-right: auto;
}


/* ***************************************** */


/* SECTION HEADER 2  */


nav ul {
  list-style-type:none ;
}

ul li {
  padding:1rem 2.5rem;
  background-color: var(--background-color--bluish, blue);
  color: var(--text-color--white,white);
  border-radius: 1.5rem;
  box-shadow: 2px;
}

/* ***************************************** */




/* MAIN SECTION */

.main-container {
  grid-template-columns: 4fr 1fr;
  gap: 15px;
  padding-bottom: 1rem;
}

.six-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  height: 100%;
}



.box {
  position: relative;
  background-color: var(--background-color--white);
  border-left:0.7rem solid var(--border-color--orange, orange);
  border-radius: 0.5rem;
  padding:3rem 2rem 2rem 2rem;
}

.icons {
  position:absolute;
  bottom: 10%;
  right: 5%;
  justify-content: flex-end;
  gap:2rem;
}

.two-box {
  grid-template-rows: repeat(2, auto);
}

.box-10, .box-11 {
  width:90%;
  height: 100%;
  padding:1rem
}

.box-11 {
  padding-bottom: 0;
}

.announcment--1 p,
.announcment--2 p,
.announcment--3 p {
  line-height: 1.3;
  letter-spacing: 0.4px;
}











